{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr class="h-rule">
            <h2>Shopping Cart</h2>
            <hr class="h-rule">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-white">
                        <tr>
                            <th scope="col">Service Details</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Frequency</th>
                            <th scope="col">Access</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if item.service.image %}
                            <img class="img-fluid rounded" src="{{ item.service.image.url }}" alt="{{ item.service.name }}">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.service.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.service.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.service.price }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.service.frequency }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.service.access }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.service.price | calc_subtotal:item.quantity }}</p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                       <a class="remove-item  float-right btn btn-blue  rounded-0 btn-lg" id="remove_{{ item.item_id }}">
                                        Remove</a>
                                </div>
                            </form>




                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6 class="my-0"><strong>Cart Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6 class="my-0">Discount: £{{ discount|floatformat:2 }}</h6>
                            <h4 class="mt-4 my-0"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            {% if discount_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get 10% discount, just add <strong>${{ discount_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'services' %}" class="btn btn-outline-blue rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-blue rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty</p>
            <a href="{% url 'services' %}" class="btn btn-blue rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fas-chevron-left "></i>
                </span>
                <span class="text-uppercase ">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'services/includes/quantity-input-script.html' %}
<script type="text/javascript">

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}