{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container header-container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 ">
                Music On Demand
            </h1>
            <h4>
                Subscribe to The On Call Musician now to gain access
                to a library of music, and commission unique music 
                tailored to your own projects.
            </h4>
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <div class="my-5">
                <a href="{% url 'services' %}" class="view-packages-button btn btn-blue btn-lg rounded-0 text-uppercase py-3">View Services</a>
            </div>
            {% endif %} 
            {% else %}
            <div class="my-5">
                <a href="{% url 'account_signup' %}" class="view-packages-button btn btn-blue btn-lg rounded-0 text-uppercase py-3">Register Now</a>
            </div> 
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
