{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Services</h1>
            <hr class="w-50 mb-1 h-rule">
        </div>
    </div>
    <div class="row">
         <div class="product-container col-10 offset-1 ">
             <div class="row mt-1 mb-2">

             </div>
             <div class="row">
                  {% for service in services %}
                      <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="card h-100 border-0">
                            {% if service.image %}
                            <a href="{% url 'service_detail' service.id %}">
                                <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'service_detail' service.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ service.name }}</p>
                            </div>
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ service.description }}</p>
                            </div>
                            <div class="card-footer pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col card-body">
                                        <p class="lead mb-0 text-left font-weight-bold">£ {{ service.price }}</p>
                                        <p class="lead mb-0 text-left font-weight-bold">* A lifetime {{ service.subscription }}</p>
                                        <p class="lead mb-0 text-left font-weight-bold">* {{ service.access }}</p>
                                        <p class="lead mb-0 text-left font-weight-bold">* {{ service.original_music }}</p>
                                        <br>
                                        {% if service.rating %}
                                            <p>Rating</p>
                                            <small class=""><i class="fas fa-star mr-1"></i>{{ service.rating }} / 5</small>
                                        {% else %}
                                            <small class="">No Rating</small>
                                        {% endif %}
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                    <a href="{% url 'edit_service' service.id %}">Edit</a> |
                                                    <a href="{% url 'delete_service' service.id %}" class="text-danger">Delete</a>
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      {% if forloop.counter|divisibleby:1 %}
                      <div class="col-12 d-sm-none mb-5">
                          <hr>
                      </div>
                  {% endif %}                        
                  {% if forloop.counter|divisibleby:2 %}
                      <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                          <hr>
                      </div>
                  {% endif %}
                  {% if forloop.counter|divisibleby:3 %}
                      <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                          <hr>
                      </div>
                  {% endif %}
                  {% if forloop.counter|divisibleby:4 %}
                      <div class="col-12 d-none d-xl-block mb-5">
                          <hr>
                      </div>
                  {% endif %}
                  {% endfor %}
             </div>
         </div>
    </div>
</div>


{% endblock %}